<!-- Describe task in general -->

<p style="text-align: justify;">
    在数论中，在给定的数基（本任务中为 10）中，<strong><span>Armstrong</span> 数</strong>（在<span>Michael F. Armstrong</span> 之后）或<strong>自恋</strong>数是一个数字，它是每个数字本身的位数之和提升到位数的幂。例如，153 是一个<span>Armstrong</span> 数字，因为 <code>1<sup>3</sup> + 5<sup>3</sup> + 3<sup>3</sup> == 153</code>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}armstrong.png" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <i>该函数可用于数学谜题、加密算法和教育工具。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
