<!-- Describe task in general -->

<p style="text-align: justify;">
    У теорії чисел, <strong><span>Armstrong</span> число</strong> (після <span>Michael F. Armstrong</span>) або <strong>нарцисичне число</strong> у заданій системі числення (10 для цієї місії) - це число, яке є сумою його власних цифр, кожна з яких піднесена до степеня, що відповідає кількості цифр. Наприклад, 153 є <span>Armstrong</span> числом, оскільки <code>1<sup>3</sup> + 5<sup>3</sup> + 3<sup>3</sup> == 153</code>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}armstrong.png" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як використовується:</strong>
    <i>цю функцію можна використовувати у математичних головоломках, алгоритмах шифрування та освітніх інструментах.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
