<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    En théorie des nombres, un <strong>nombre<span>Armstrong</span> </strong> (après <span>Michael F. Armstrong</span>) ou <strong>nombre narcissique</strong> dans une base de nombres donnée (10 pour cette mission) est un nombre qui est la somme de ses propres chiffres élevés à la puissance du nombre de chiffres. Par exemple, 153 est un nombre <span>Armstrong</span> car <code>1<sup>3</sup> + 5<sup>3</sup> + 3<sup>3</sup> == 153</code>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}armstrong.png" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment l'utiliser:</strong>
    <i>cette fonction peut être utilisée dans les puzzles mathématiques, les algorithmes de cryptage et les outils éducatifs.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
