<!-- Describe task in general -->

<p style="text-align: justify;">
    In der Zahlentheorie ist eine <strong><span>Armstrong</span> Zahl</strong> (nach <span>Michael F. Armstrong</span>) oder eine <strong>narzisstische Zahl</strong> in einer bestimmten Zahlenbasis (10 für diese Mission) eine Zahl, die die Summe ihrer eigenen Ziffern ist, die jeweils zur Potenz der Anzahl der Ziffern erhöht werden. Zum Beispiel ist 153 eine <span>Armstrong</span> Zahl, weil <code>1<sup>3</sup> + 5<sup>3</sup> + 3<sup>3</sup> == 153</code>. 
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Logischer Wert <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Wie sie verwendet wird:</strong>
    <i>diese Funktion kann in mathematischen Rätseln, Verschlüsselungsalgorithmen und Lehrmitteln verwendet werden.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
